#yearSearch {
    margin-top: 10%;
    width: 400px;
    margin-left: 5%;
}

#search {
    margin-top: 11%;
    height: 60px;
    width: 200px;
    font-size: 32px;
    text-align: center;
}

#TableResult {
    height: 60px;
    width: 200px;
    margin-top: 10%;
    margin-left: 10%;
}

#MapResult {
    height: 60px;
    width: 200px;
    margin-top: 10%;
    margin-left: 30%;
}

#map {
    position: absolute;
    width: 100%;
    height: 90%;
}
 #buttons
 {
     margin-top: 10%;
 }